*{
    margin: 0;
    box-sizing: border-box;
}
body, html{
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    width: auto;
    height: 100%;
    background-image: url("Me.jpeg"); 
    color: black;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.textHead{
    position: absolute;
    /* width: 250px;
    height: 250px; */
    width: 40%;
    padding-top: 250px;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.8); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    height: 100%;
  
}
.textHead h1{
    text-align: center; 
    padding: 10px 0 0;
    line-height: 1.6;
    font-size: 45px;
}

.textHead p{
    text-align: center; 
    padding: 10px 0 0;
    line-height: 1.6;
    font-size: 15px;
}

.nav{
    position: absolute;
    overflow: hidden;
    top: 80%;
    left: 10%;
    background-color: aqua;


}
.nav a{
    border-bottom: 1px solid #f1f1f1;
    color:#f1f1f1;
    display: inline-block;
    text-align: center;
    padding: 10px 0;
    margin: 5px 15px 0;
    font-size: auto;
    text-decoration: none;
    cursor: pointer;
    line-height: 1.6;
    opacity: 1;
    transition: .5s ease;
}

.nav a:hover{
    border-bottom: 1px solid rgb(0 ,139, 139);
    color:rgb(0 ,139, 139);
    opacity: 0.6;
}

.textInicial{
   height: 80px;
   background-color:rgb(0 ,139, 139);
   
}
.textInicial h1{
    padding: 20px 30px 20px;
    font-size: 40px;
    color: rgb(232, 232, 232);
}

.Conteudo{
    padding: 30px 20px 30px;
    background-color: rgb(232, 232, 232);
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: rgb(255, 255, 255);
    padding: 16px;
}
.card p{
    text-align: justify; 
    text-indent: 25px;
    padding: 10px 0 0;
    line-height: 1.6;
    font-size: 20px;
}

@media screen and (max-width: 1200px) {
    .nav a{   
        margin: 5px 5px 0;
    }
}
@media screen and (max-width: 900px) {
    .textHead {   
        width: 60%;
    }
}
@media screen and (max-width: 600px) {
    .textHead {   
        width: 100%;
    }
    .nav {   
        left: 15%;
    }
}
@media screen and (max-width: 400px) {
    .nav {   
        left: 5%;
    }
}
