*{
    margin: 0;
    box-sizing: border-box;
}
body, html{
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    width: auto;
    height: 100%;
    background-image: url("Me.jpeg"); 
    color: black;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.textHead{
    /* width: 250px;
    height: 250px; */
    width: 40%;
    padding-top: 250px;
    padding-left: 25px; 
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.8); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    height: 100%;
}
.textHead h1{
    text-align: center; 
    text-indent: 25px;
    padding: 10px 0 0;
    line-height: 1.6;
    font-size: 45px;
}

.textHead p{
    text-align: center; 
    padding: 10px 0 0;
    line-height: 1.6;
    font-size: 15px;
}

.textInicial{
   height: 80px;
   background-color:rgb(0 ,139, 139);
}
.textInicial h1{
    padding: 20px 30px 20px;
    font-size: 40px;
    color: rgb(232, 232, 232);
}

.Conteudo{
    padding: 30px 20px 30px;
    background-color: rgb(232, 232, 232);
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: rgb(255, 255, 255);
    padding: 16px;
}
.card p{
    text-align: justify; 
    text-indent: 25px;
    padding: 10px 0 0;
    line-height: 1.6;
    font-size: 20px;
}
@media screen and (max-width: 700px) {
    .textHead {   
        width: 60%;
    }
}
